finetune_old.py
test.py
.idea/
*.pyc
LLMs/bloom/
LLMs/chatglm/
LLMs/open-llama/
LLMs/llama2/
LLMs/vicuna/
LLMs/UltraLM/
LLMs/Qwen/
LLMs/baichuan/
LLMs/mistrial/
LLMs/phi/
output/bloom/
output/chatglm/
output/llama/
output/Qwen/
output/baichuan/
output/mistrial/
output/phi/
venv/
wandb/
web/label_inner.py
!data/train
data/train/*
!data/train/example.json
